<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Check out your stats</h1>
    <form action="/stats/<%= code %>" method="POST">
      <input type="text" name="url" placeholder="Enter your URL">
      <button type="submit">Check stats</button>
    </form>
    <a class="link" href="/">Create a new short URL</a>
  </body>
</html>
